.rake_test_cache

###
# Ignore Chef key files and secrets
###
.chef/*.pem
.chef/encrypted_data_bag_secret
.idea
.idea/*
.cache
.cache/*
.vagrant
.vagrant/*
*.swp

.DS_Store
CACHE/*
*.log
*.pot
*.pyc

Berksfile.lock
vagrant_dev_settings.yml